<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1 class="adderss_text">Doctors</h1>
        <div class="hiphop_text_1">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</div>
      </div>

      <div class="col-lg-3">
        <h1 class="adderss_text">Useful Links</h1>
        <div class="Useful_text"><a routerLink="/authorization/login/" style="text-decoration: none; color: white">There</a> are many variations of passages of Lorem Ipsum available, but the majority have suffered ,</div>
      </div>

      <div class="col-lg-3">
        <div class="footer_logo"><a href="https://www.free-css.com/free-css-templates"><img src="assets/logo-no-background.png" alt="website template image"></a></div>
        <h1 class="adderss_text" style="margin-top: 30px">Contact Us</h1>
        <div class="map_icon"><span nz-icon nzType="aim" nzTheme="outline"></span><span class="paddlin_left_0">Page when looking at its</span></div>
        <div class="map_icon"><span nz-icon nzType="phone" nzTheme="outline"></span><span class="paddlin_left_0">+7586656566</span></div>
        <div class="map_icon"><span nz-icon nzType="mail" nzTheme="outline"></span><span class="paddlin_left_0">mail@domain.com</span></div>
      </div>
    </div>
  </div>
</div>
