<nav class="navbar" [ngClass]="{'navbar-space': service.user}">
  <div class="logo"><img src="assets/logo-black.png" routerLink="/" alt=""></div>
  <ul nz-menu nzMode="horizontal" class="navbar-list">
    <li class="close-li">
      <span nz-icon nzType="plus" (click)="toggleClassBtn(false)" nzTheme="outline" class="close"></span>
    </li>
    <li nz-menu-item routerLink="/" (click)="toggleClassBtn(false)">{{'navbar.home' | translate}}</li>
    <li nz-menu-item routerLink="/new" routerLinkActive="active" (click)="toggleClassBtn(false)">{{'navbar.news' | translate}}</li>
    <li nz-menu-item routerLink="/product" routerLinkActive="active" (click)="toggleClassBtn(false)">{{'navbar.products' | translate}}</li>
    <li nz-menu-item routerLink="/employee" routerLinkActive="active" (click)="toggleClassBtn(false)">{{'navbar.employees' | translate}}</li>
    <li nz-menu-item routerLink="/settings" *ngIf="service.user" (click)="toggleClassBtn(false)">{{'navbar.settings' | translate}}</li>
<!--    <li nz-menu-item (click)="clickPostCreate()" *ngIf="service.user">{{'navbar.product_create' | translate}}</li>-->
<!--    <li nz-menu-item (click)="clickEmployeeCreate()"  *ngIf="service.user">{{'navbar.employee_create' | translate}}</li>-->

    <li nz-submenu [nzTitle]="language === '3' ? uzb : language === '2' ? rus : eng">
      <ul>
        <li nz-menu-item *nzStringTemplateOutlet="uzb"></li>
        <li nz-menu-item *nzStringTemplateOutlet="rus"></li>
        <li nz-menu-item *nzStringTemplateOutlet="eng"></li>
      </ul>
    </li>

    <li *ngIf="service.user">
      <button nz-button nzType="primary" nzSize="large" (click)="clickLogout()">{{'navbar.logout' | translate}}</button>
    </li>
  </ul>
  <button class="menu" (click)="toggleClassBtn(true)"><span nz-icon nzType="menu" nzTheme="outline"></span></button>
</nav>

<ng-template #uzb><img (click)="clickLanguage(3)" src="/assets/flag/uz.svg" style="width: 50px" alt=""></ng-template>
<ng-template #rus><img (click)="clickLanguage(2)" src="/assets/flag/ru.svg" style="width: 50px" alt=""></ng-template>
<ng-template #eng><img (click)="clickLanguage(1)" src="/assets/flag/en.svg" style="width: 50px" alt=""></ng-template>
