<div class="video-list">
  <div class="container">
    <div class="video-title">
      <h1>{{'video.title' | translate}}</h1>
    </div>

    <div class="video-container">
      <div *ngFor="let model of data" style="position: relative; display: block">
        <button nz-button nzDanger nzType="primary" (click)="delete(model)">Delete</button>
        <iframe width="560" height="315" [src]="model.video | youtubeUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
