<div *ngIf="newModel" class="detail">
  <div class="container">
    <div class="image">
      <img nz-image [nzSrc]="newModel.image" *ngIf="newModel.image" alt="">
      <iframe width="560" height="315" [src]="newModel.video | youtubeUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


      <div class="buttons" [ngClass]="{'video-buttons': !newModel.image && newModel.video}">
        <a nz-button nzType="primary" [href]="newModel.pdf" *ngIf="newModel.pdf" target="_blank">{{'new.table.pdf' | translate}}</a>
        <button nz-button nzType="primary" *ngIf="profileService.user" (click)="edit()">Edit</button>
        <button nz-button nzType="primary" *ngIf="profileService.user" (click)="delete()">Delete</button>
      </div>
    </div>

    <h1>{{newModel.title}}</h1>
    <p class="description">{{newModel.description}}</p>

    <span class="create-date">{{newModel.create_date | date : 'dd.MM.yyyy'}}</span>
  </div>
</div>
