<div class="product-detail" *ngIf="product">
  <div class="container">
    <img class="detail-img" nz-image [nzSrc]="product.image" [alt]="product.name">
    <div class="heading-container">
      <h3>{{product.name}}</h3>
      <p>{{'product.table.price' | translate}}: {{product.price}} so'm</p>
    </div>
    <div class="crud" *ngIf="profileService.user">
      <button nz-button nzType="primary" (click)="delete()" nzDanger style="margin-right: 15px">{{'global.delete' | translate}}</button>
      <button nz-button nzType="dashed" (click)="edit()">{{'global.edit' | translate}}</button>
    </div>
    <div class="information">
      <p class="description">{{product.description}}</p>
    </div>
  </div>
</div>
