<div class="title-container">
  <div>
    <h1>{{'new.title' | translate}}</h1>
  </div>
  <div>
    <p routerLink="/product" class="description">{{'product.description' | translate}}</p>
  </div>
</div>

<div class="news">
  <div class="container">
    <div class="new" *ngFor="let model of data">
      <video [src]="model.video" *ngIf="model.video"></video>
      <img [src]="model.image" *ngIf="model.image" alt="">

      <div class="information">
        <h1>{{model.title}}</h1>
        <p>{{model.description}}</p>
      </div>

      <span class="date">{{model.create_date}}</span>
    </div>
  </div>
</div>
