/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

.modal-footer {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center; // vertically center
  justify-content: flex-end; // Right align buttons with flex property because text-align doesn't work on flex items
  button {
    margin-left: 5px;
  }
}

body {
  background: #fafafa;
}


.title-container {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 100px;
  //display: block;
  text-align: center;
  align-items: center;

  h1 {
    //float: left;
    font-size: 40px;
    color: rgba(35, 35, 35, 0.8);
    font-weight: 700;
  }
  .description {
    margin-top: 30px;
    color: rgba(35, 35, 35, 0.8);
  }
}
